@import url('https://fonts.googleapis.com/css?family=Raleway:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i|Ubuntu:300,300i,400,400i,500,500i,700,700i&display=swap');
:root{
	
	font-family: 'Raleway', sans-serif;
	--dark: rgb(56, 56, 56);
	--light: rgb(255, 253, 248);
	--accent: #F25E7A;
}

*{
	padding:0;
	margin:0;
	/* word-wrap: break-word; */
	box-sizing: border-box;
	list-style: none;
	hyphens: auto;
	color: var(--dark);
	font-feature-settings: 'lnum' 1;
}

h1, h2, h3{
	font-weight: 700;
}

h1{
	font-size: 60px;
}

h2{
	font-size: 32px;
}

h3{
	font-size: 18px;
}

p{
	font-weight: 300;
	font-size:14px;
	text-justify: inter-word;
}

body {
	width: 100%;
	min-height:100vh;
  	background-image: linear-gradient(to bottom, var(--light), 93%, hsla(0, 100%, 100%, 5%)), url("bg.jpeg"); 
	background-size: cover;
	
	background-position: bottom;
	padding-bottom: 300px; /* To avoid content overlap with BG. */
}

.main{
	max-width: 960px;
	margin: 0 auto;
	padding: 0 5%;
	display: grid;
	grid-gap: 100px;
	justify-content: center;
	align-items: center;
	justify-items: center;
}

.header{
	flex-direction: column;
	text-align: center;
	margin-top: 10%;
}

.header__title{
	font-size:60px;
	white-space: nowrap;
	color: var(--dark);
}

.header__subtitle{
	font-size:24px;
	font-weight: 400;
}

img{opacity: 0.8;}


section{
	display: grid;
}
.section__title{
	margin-bottom: 30px;
	text-align: center;
}


.examples{
	display: flex;
	flex-wrap: wrap;
	border: 1px solid rgba(56, 56, 56, 0.2);
	padding: 20px 50px;
	border-radius: 5px;
	justify-content: center;
	background: var(--light);
	margin-top: -30px;
	margin-bottom: 15px;
	box-shadow: 20px 30px 50px rgba(55, 58, 57, 0.2);
}
.example{
	margin: 10px 30px;
	display:flex;
	width:100px;
	flex-direction: column;
	text-align: center;
	align-items: center;
}

.example__icon{
	width: 50px;
	margin-bottom: 10px;
	
}


.services{
	display: grid;
	grid-gap: 1px;
	background: var(--dark);
	border: 1px solid var(--dark);
	border-radius: 5px;
	overflow: hidden;
}



.service{
	display: grid;
	grid-template-columns: 25% 25% 50%;
	background: var(--light);
}
.service > *{
	padding: 8px;
	align-content: flex-start;
}

.services__title{
	background: rgb(238, 235, 229)
}

.service__name{

	font-weight: bold;
}

@media (max-width: 450px){
	.service__description, .service__name, .service__price{
		overflow-wrap: break-word;
		word-wrap: break-word;
		-webkit-hyphens: auto;
		-ms-hyphens: auto;
		-moz-hyphens: auto;
		hyphens: auto;
	}
}


.reviews{
	display: grid;
	grid-gap: 50px;
}

.review{
	text-justify: inter-word;
	max-width: 500px;
	justify-content: center;
	text-align: justify;
	text-align-last: center;
	display: grid;
	grid-gap: 10px;
}

.review__author{
	font-weight: bold;
	font-size: 16px;
	text-align: center;
}


.contacts{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.contact{
	width:320px;
	display:flex;
	flex-direction: column;
	align-items: center;
	margin: 20px -30px;
}

.contact__icon{
	width:40px;
	margin-bottom:15px;
}

.contact__text{
	font-weight: 400;
}


.star{
	width:15px;
}



